/*reset css*/

*,*::before,**::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    font-size: 62.5%;
}

/*BODY STYLE*/

body{
height: 100vh;
background-image: url(./assets/images/isolate-yellow-lightbulb-with-wire-harness-white-background-creative-thinking-idea-problem-solving-solution-concept-by-3d-rendering_50039-3381.svg);
background-position: center;
background-size: cover;
background-attachment: fixed;
overflow: auto;
display: grid;
grid-template-columns: 45fr 55fr;
grid-template-rows: 30fr 70fr;
column-gap: 1rem;
row-gap: 1rem;
grid-template-areas: 
"header nav"
"main main";
/*TYPOGRAPHY*/
font-family: cursive;
}

/*HEADER STYLE*/
header{
    grid-area: header;
    margin-left: 50px;
    font-size: 1.6rem;
    background: -webkit-linear-gradient(rgb(207, 97, 200), rgb(73, 199, 151) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header:hover{
    animation: FadeIn 2s linear 0.2s ;
}
@keyframes FadeIn { 
    0% {
      opacity: 0;
      text-shadow: 0 0 50px rgb(233, 223, 223);
    }
    100% {
      opacity: 0.8;
      text-shadow: 0 0 1px rgb(41, 38, 38);
    }
}
nav{
    grid-area: nav;
    font-size: 1.3rem;
}
.ul__nav{
    display: flex;
    margin-left: 150px;
    justify-content: center;
    margin:20px 40px;
}
.li__nav{
    color: black;
    padding: 10px;
    margin-right: 80px;
}
.li__nav:hover{
  background: linear-gradient(to bottom left, #e5e75b, #a0a5dd);
  border-radius: 10px;
  box-shadow: -5px 5px 10px gray;
}

 /*MAIN STYLE*/
 .border{
    padding: 5px;
      background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, hsl(325, 92%, 77%) 34%, #cf61c8 34%);/*#C5E7D7 34%, #88d8b0*/
    background-size: 400% 400%;
    background-position: 25% 50%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    border-radius: 5px;
  }
  .inner-cutout{
    padding: 40px 0;
    display: block;
    background-color:#fffd69;/*#ff6f69*/ /*#ff8b87*/
      
    margin: 2%;
    padding-bottom: 30px;
    height: 300px;
    background: radial-gradient(#966492, #49c797);
     background-size: 300%;
    background-position:50% 50%;
  
  }
  .knockout {
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.1em;
    color: blue;
    color: #fff;
    background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, hsl(66, 86%, 72%) 34%, #d1d40e 34%);
    background-size: 400%;
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .knockout{
      animation: Gradient 5s ease infinite;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 5s ease infinite;
  }
  
  @-webkit-keyframes Gradient {
    0% {
      background-position: 30% 50%
    }
    50% {
      background-position: 25% 50%
    }
    100% {
      background-position: 30% 50%
    }
    
  }
.main{

    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 80px;
}

/*LINK STYLE*/
a:hover{
    color: crimson;
}
a{
    text-decoration: none;
}

/*LOGIN STYLE*/
.form{
  width: 200px;
  background-color: rgb(207, 97, 200);
  box-shadow: -5px 5px 10px gray;
  border-radius: 30px;
  border-left: 1px solid rgb(238, 255, 6);
  font-size: 1.5rem ;
  margin-top: 50px;
  margin-left: 50px;
}
.div--form{
  margin: 30px;
}
input{
  border-radius: 4px;
}
input:hover{
  transform: translate(3px);
  transition: all 1s ease-out;
}
.p--form{
  width: 200px;
  margin-top: 70px;
  margin-right: 900px;
  padding-left: 20px;
  border-left: 2px solid black;
  white-space: pre-line;
  font-size: 1.5rem;
  line-height: 2.8rem;
  text-align: justify;
}
button{
  background-color: rgb(200, 233, 233);
  border-radius: 5px;
  padding: 5px;
}
button:hover{
  color: red;
}


